@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');

:root {
    --cor-primaria-1: #4F6D7A;
    --cor-primaria-2: #C0D6DF;
    --cor-primaria-3: #DBE9EE;
    --cor-primaria-4: #4A6FA5;
    --cor-primaria-5: #166088;
}